/* Navbar.css */

nav {
  font-family: 'Inria Sans', sans-serif; /* Ensure the font is available */
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between items */
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  margin: 0; /* Remove default margin */
  padding: 0 20px; /* Add some padding */
}

nav ul li {
  padding: 0 12px;
}

/* Logout button styles */
.logout-btn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  text-decoration: underline;
}
